table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

button{
  background-color: #fff;
  border:none;
  font-weight:bold;
  text-align: left;
  width: 100%;
}

.element::-webkit-input-placeholder {
  color: rgb(7, 7, 7);
  font-weight: bold;
}

input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  border-radius: 0px;
}